.App {
  height: 100vh;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  color: #9f9aae;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.register {
  width: 100%;
  margin-top: 4vh;
  padding: 2rem;
}

.register input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #9f9aae;
  padding: 1rem 2rem;
  outline: none;
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
}

.btn {
  background-color: #7e7696;
  border: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  color: white;
}

.btn-login {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

@media screen and (min-width: 480px) {
  .App {
    justify-content: center;
  }

  .register {
    width: 500px;
  }
}
